@using System.Globalization
@using Newtonsoft.Json
@model TimeLive.Models.TimeModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var missingHours = Model.LessThan8H.OrderBy(x => x.Date).Reverse();
    var latestReports = Model.LatestRows.Take(5);
    var selectRows = Model.SelectRows.OrderBy(x => x.regdate).ToArray();
    var dayDictionary = selectRows.Select(x => x.regdate).Distinct().ToDictionary(day => day, day => false);
    var totalUsed = selectRows.Sum(x => x.usedtime);
    var totalInvoiced = selectRows.Sum(x => x.invoicedtime);
    var totalAbsence = selectRows.Where(x => x.projectid == "1019").Sum(x => x.usedtime); //1019 is the projectid for Frånvaro, which is under the customer OPT
}
@*<div class="row">
        <h4 id="datesShowned"></h4>
    </div>*@
@*<input type="hidden" name="pDealyinvoice" class="pDealyinvoice" value="@(Model.Selections.Delayed)" />*@
<div class="row" id="latesReportsRow">
    <div id="latest-container">
        @foreach (var row in latestReports)
        {
            <a href="#" class="latest" style="text-decoration:none"> <!--LATEST REPORTS-->
                <div class="latestReports">
                    <input type="hidden" class="companyId" name="pCompanyId" value="@row.companyid" />
                    <h5>@row.companyname</h5>
                    <input type="hidden" class="projectId" name="pProjectId" value="@row.projectid" />
                    <h5>@row.projectname</h5>
                    <input type="hidden" class="subProjectId" name="pSubProjectId" value="@row.subprojectid" />
                    <h5>@row.subprojectname</h5>
                </div>
            </a>
        }
        @if (latestReports.Count() < 5)
        {
            for (int i = latestReports.Count(); i < 5; i++) 
            {
                <div class="latest"> <!--IF NOT ENOUGH LATEST REPORTS GRAY OUT MISSING SLOTS-->
                    <div class="latestReports" style="background-color:#71797b"></div>
                </div>
            }
        }
    </div>
</div>
@foreach (var item in missingHours.Take(1))  
{
    if (missingHours.Count() > 1)
    {
        <div class="alert alert-info"> <!--ALERT FOR MISSING HOURS-->
            <b>@missingHours.Count()</b> alerts
        </div>
    }
    else
    {
        <div class="alert alert-info">
            <b>@missingHours.Count()</b> alert
        </div>
    }
    <div class="alert alert-danger" id="missingRpt">
        <span>Missing hours for <b id="missingReport">@item.ToShortDateString()</b></span>
    </div>
}

@if (missingHours.Count() == 0) 
{
    <div class="alert alert-info"> <!--IF THERE IS NO MISSING HOURS, SHOW THIS-->
        0 alerts
    </div>
    <div class="alert alert-success">
        There are no missing hours
    </div>
}

<div id="month"></div> <!--MONTH CALANDER-->

<div class="row">
    <div id="week"></div> <!--WEEK CALANDER-->
</div>

<div class="TotalHours"> <!--TOTAL HOURS STATS WINDOW-->
    <table class="pTable">
        <tr id="tableTitle">
            <th colspan="2" class="TotalHoursTitle"><b>Total hours</b></th>
        </tr>
        <tr>
            <td class="tRow"><b>Invoiced</b></td>
            <td class="tRow2">@totalInvoiced.ToString("N1").Replace(",", ".")h</td>
        </tr>
        <tr>
            <td class="tRow"><b>Used</b></td>
            <td class="tRow2">@totalUsed.ToString("N1").Replace(",", ".")h</td>
        </tr>
        <tr>
            <td class="tRow"><b>Inv/Used</b></td>
            <td class="tRow2">@(totalUsed != 0 ? (totalInvoiced / totalUsed).ToString("P0") : "0%")</td>
        </tr>
        <tr>
            <td class="tRow"><b>Absence</b></td>
            <td class="tRow2">@totalAbsence.ToString("N1").Replace(",", ".")h</td>
        </tr>
    </table>
</div>
<div class="row"> <!--ERROR MESSAGE MODAL-->
    @if (TempData["error"] != null)
    {
        <div class="alert alert-danger" id="errorMsg">
            <span id=""><b>@TempData["error"]</b> <i>Click for more info</i></span>
        </div>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">×</span>
                <h3 style="text-align: center"><b>Error Specification</b></h3><br />
                <h4>@TempData["errorMsg"]</h4><br />
                <h4><b>Inner exception</b></h4>
                <h5>@TempData["errorInnerExp"]</h5>
            </div>
        </div>
        <br /><br />
    }
</div>
<br />
<div id="titles"> <!--TITLES FOR REPORTS-->
    <div class="row row-header">
        <div class="col col-dropdown col-header">Customer</div>
        <div class="col col-dropdown col-header">Project</div>
        <div class="col col-dropdown supProjectT col-header">Sub-project</div>
        <div class="col col-date col-header">Date</div>
        <div class="col amount-head invT col-header">Inv</div>
        <div class="col amount-head usedT col-header">Used</div>
        <div class="col col-text extCom col-header">External comment</div>
        <div class="col col-delay col-header">Delay</div>
    </div>
</div>
<div class="rows"> <!--ALL CREATED REPORTS-->
    @foreach (var row in selectRows)
    {
        <div class="timerow">
            @using (Html.BeginForm("Update", "Time", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="q_hrp_guiid" class="q_hrp_guiid" value="@row.q_hrp_guiid" />
                @*<input type="hidden" value="@row.RowStatus" />
                    <input type="hidden" value="@row.InvoiceStatus" />
                    <input type="hidden" value="@row.anstalld" />
                    <input type="hidden" value="@row.companyname" />
                    <input type="hidden" value="@row.customerresponsible" />
                    <input type="hidden" value="@row.externcomment_prio" />
                    <input type="hidden" value="@row.invoiceID" />
                    <input type="hidden" value="@row.prelinvoiceid" />
                    <input type="hidden" value="@row.subprojectname" />*@

                @*<input type="hidden" name="dealyinvoice" value="@row.dealyinvoice" />*@
                <input type="hidden" name="subprojectid_prio" value="@row.subprojectid_prio" />
                <div class="row">
                    <div class="col col-dropdown"> <!--CUSTOMER-->
                        <input type="hidden" class="companyId" name="pCompanyId" value="@row.companyid" />
                        <select required class="form-control nopadding companyDropDown"></select>
                    </div>
                    <div class="col col-dropdown"> <!--PROJECT-->
                        <input type="hidden" class="projectId" name="pProjectId" value="@row.projectid" />
                        <select required class="form-control nopadding projectDropDown"></select>
                    </div>
                    <div class="col col-dropdown"> <!--SUBPROJECT-->
                        <input type="hidden" class="subProjectId" name="pSubProjectId" value="@row.subprojectid" />
                        <select class="form-control subProjectDropDown"></select>
                    </div>
                    <div class="col date"> <!--DATE-->
                        <input type="text" required class="form-control date-picker" name="pRegDate" value="@row.regdate.ToString("yyyy-MM-dd")" />
                    </div>
                    <div class="input-group col amount">
                        <span class="input-group-btn row toggle" style="display: none;">
                            <!--BUTTON MINUS-->
                            <button type="button" class="btn btn-danger btn-number btn-minus">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </span>
                        <input type="text" name="pInvoicedTimeUpdate" class="form-control hours amount" value="@row.invoicedtime.ToString("0.00").Replace(",", ".")"> <!--INVOICE-->
                        <span class="input-group-btn row toggle" style="display: none;">
                            <!--BUTTON PLUS-->
                            <button type="button" class="btn btn-success btn-number btn-plus">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                    <div class="input-group col amount">
                        <span class="input-group-btn row toggle" style="display: none;">
                            <!--BUTTON MINUS-->
                            <button type="button" class="btn btn-danger btn-number btn-minus">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </span>
                        <input type="text" name="pUsedTimeUpdate" class="form-control hours amount" value="@row.usedtime.ToString("0.00").Replace(",", ".")"> <!--USED-->
                        <span class="input-group-btn row toggle" style="display: none;">
                            <!--BUTTON PLUS-->
                            <button type="button" class="btn btn-success btn-number btn-plus">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                    <div class="col externCom"> <!--EXTERN COMMENT-->
                        <input type="text" required class="form-control comment" name="pExternCommentUpdate" value="@row.externtcomment" />
                    </div>
                    <label class="checkboxes"> <!--DELAY-->
                        <input type="checkbox" class="delayChk" name="chkDelay" @(row.dealyinvoice == 1 ? "checked" : "") value="@row.dealyinvoice" />
                        <input type="hidden" name="pDealyinvoice" class="pDealyinvoice" value="@row.dealyinvoice" />
                        <img src="~/img/delay_false.png" class="image" />
                    </label>
                    <a href="#" class="copy" title="Copy"> <!--COPY BUTTON-->
                        <img src="~/img/btn_copy.png" />
                        <input type="hidden" class="companyId" name="pCompanyId" value="@row.companyid" />
                        <input type="hidden" class="projectId" name="pProjectId" value="@row.projectid" />
                        <input type="hidden" class="subProjectId" name="pSubProjectId" value="@row.subprojectid" />
                        <input type="hidden" class="form-control hours amount" name="pInvoicedTime" value="@row.invoicedtime.ToString("0.00").Replace(",", ".")">
                        <input type="hidden" class="form-control hours amount" name="pUsedTime" value="@row.usedtime.ToString("0.00").Replace(",", ".")">
                        <input type="hidden" class="form-control comment" name="pExternComment" value="@row.externtcomment" />
                        <input type="hidden" class="form-control intComment comment" name="pInternComment" value="@row.interncomment" />
                    </a>
                </div>
                <div class="row toggle" style="display: none;"> 
                    <div class="col col-full"> <!--INTERNAT COMMENT-->
                        <input type="text" class="form-control intComment comment" name="pInternCommentUpdate" value="@row.interncomment" />
                    </div>
                    <div class="btn-group-sm"> <!--UPDATE AND DELETE BUTTON-->
                        <button type="submit" id="btnSave" class="btn btn-success btn2" title="Update">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                            Update
                        </button>
                        <button type="button" class="btn btn-danger delete btn2" title="Delete">
                            <span class="glyphicon glyphicon-remove"></span>
                            Delete
                        </button>
                    </div>
                </div>
            }
        </div>
    }
</div>
@if (selectRows.Count() != 0) 
{
    <br />
    <div class="row "> 
        <div class="col col-header"> <!--NEW REPORT TITLE IF THERE IS EXISTING REPORTS ALREADY-->
            New Report
        </div>
    </div>
}
<div class="timerow">
    @using (Html.BeginForm("Insert", "Time", FormMethod.Post)) 
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col col-dropdown"> <!--CUSTOMER-->
                <select name="pCompanyId" required="required" class="form-control newCompany companyDropDown">
                    <option value="">Select Customer</option>
                </select>
            </div>
            <div class="col col-dropdown"> <!--PROJECT-->
                <select name="pProjectId" required="required" class="form-control newProject projectDropDown"></select>
            </div>
            <div class="col col-dropdown"> <!--SUBPROJECT-->
                <select name="pSubProjectId" class="form-control newSubProject subProjectDropDown"></select>
            </div>
            <div class="col date"> <!--DATE AND FROM-DATE-->
                <input type="text" name="pRegDate" class="form-control newRegDate date-picker" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
                <input type="text" required name="vacationFrom" class="form-control hide vacationFrom date-picker" value="From" />
            </div>
            <div class="col date"> <!--TO-DATE-->
                <input type="text" required name="vacationTo" class="form-control hide vacationTo date-picker" value="To" />
            </div>
            <div class="input-group col amount">
                <span class="input-group-btn buttons">
                    <!--BUTTON MINUS-->
                    <button type="button" class="btn btn-danger hideButton btn-number btn-minus">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </span>
                <input type="text" name="pInvoicedTime" class="form-control hours amount newInvoice" value="0.00" min="0"> <!--INVOICE-->
                <span class="input-group-btn buttons">
                    <!--BUTTON PLUS-->
                    <button type="button" class="btn btn-success hideButton btn-number btn-plus">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
            </div>
            <div class="input-group col amount">
                <span class="input-group-btn">
                    <!--BUTTON MINUS-->
                    <button type="button" class="btn btn-danger btn-number btn-minus">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </span>
                <input type="text" name="pUsedTime" class="form-control hours amount newUsed" value="0.00" min="0"> <!--USED-->
                <span class="input-group-btn">
                    <!--BUTTON PLUS-->
                    <button type="button" class="btn btn-success btn-number btn-plus">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
            </div>
            <div class="col externCom"> <!--EXTERN COMMENT-->
                <input type="text" required name="pExternComment" class="form-control comment newExtComment" />
            </div>
            <label class="checkboxes"> <!--DELAY-->
                <input type="checkbox" class="delayChk" />
                <input type="hidden" name="pDealyinvoice" class="pDealyinvoice" value="0" />
                <img src="~/img/delay_false.png" class="image" />
            </label>
        </div>
        <div class="row">
            <div class="col col-full-insert"> <!--INTERNAL COMMENT-->
                <input type="text" name="pInternComment" class="form-control intComment comment newIntComment" placeholder="Internal comment" />
            </div>
            <div class="btn-group btn-group-sm"> <!--SAVE BUTTOM-->
                <button type="submit" class="btn btn-primary btn2" title="Save">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    Save
                </button>
            </div>
        </div>
    }
</div>
<br />
<link href="~/Content/TimeIndex.css" rel="stylesheet" />
<script src="~/Scripts/funktions.js"></script>
<script type="text/javascript">

    var customers = @Html.Raw(JsonConvert.SerializeObject(Model.Customers));

    var projects = @Html.Raw(JsonConvert.SerializeObject(Model.Projects));

    var subProjects = @Html.Raw(JsonConvert.SerializeObject(Model.SubProjects));

    document.addEventListener("DOMContentLoaded", function() {

        function updateProjectDropDown(projectDropDown, companyId, projectId, clear) {
            clear = typeof clear !== "undefined" ? clear : true;
            if(clear) $(projectDropDown).html('');

            $(projects.filter(function(x) { return x.CustomerCode === companyId })).each(function(i, v) {
                $(projectDropDown).append('<option value="' + v.Id + '" class="' +v.Status + '"' +  (v.Id===projectId ? ' selected' : '') + '>' + v.Description + '</option>');
            });
        }
        function updateSubProjectDropDown(subProjectDropDown, projectId, subProjectId, clear) {
            clear = typeof clear !== "undefined" ? clear : true;
            if(clear) $(subProjectDropDown).html('');

            $(subProjects.filter(function(x) { return x.ProjectId === projectId })).each(function(i, v) {
                $(subProjectDropDown).append('<option value="' + v.Id + '" class="' +v.Status + '"' + (v.Id===subProjectId ? ' selected' : '') + '>' + v.Description + '</option>');
            });
        }

        function updateProject(dropDown) {
            var row = $(dropDown).parent().parent();
            var companyId = $(dropDown).val();
            var projectId = $(row).find('.projectId').val();
            var projectDropDown = $(row).find('.projectDropDown');

            updateProjectDropDown(projectDropDown, companyId, projectId);
        }

        function updateSubProject(dropDown) {
            var row = $(dropDown).parent().parent();
            var projectId = $(dropDown).val();
            var subProjectId = $(row).find('.subProjectId').val();
            var subProjectDropDown = $(row).find('.subProjectDropDown');
            updateSubProjectDropDown(subProjectDropDown, projectId, subProjectId);
            subProjectDropDown.prepend('<option value=""></option>');
        }

        //Selected company changed
        $('.companyDropDown').change(function() {
            $(this).parent().parent().find('.companyId').val($(this).val());
            updateProject(this);
            updateSubProject($(this).parents('.row').find('.projectDropDown'));
        });
        //Selected project change
        $('.projectDropDown').change(function() {
            $(this).parent().find('.projectId').val($(this).val());
            updateSubProject(this);
        });
        //Selected sub project change
        $('.subProjectDropDown').change(function() {
            $(this).parent().find('.subProjectId').val($(this).val());
        });

        function populateCustomerDropDown(companyDropDown, companyId) {
            $(customers).each(function(i, val) {
                $(companyDropDown).append('<option value="'+val.Code +'"'+ (val.Code === companyId ? ' selected' : '') +'>' + val.Name +'</option>');
            });
        }

        //Delete function
        $('.delete').click(function() {
            var row = $(this).parents('.timerow');
            //__RequestVerificationToken
            var guiid = row.find('.q_hrp_guiid').val();
            var token = row.find('input[name=__RequestVerificationToken]').val();
            $.post('@Url.Action("Delete")', { '__RequestVerificationToken': token, 'q_hrp_guiid': guiid },
                function(data) {
                    if (data.Result) {
                        row.hide(150);
                        $('#week').fullCalendar('refetchEvents');
                        $('#month').fullCalendar('refetchEvents');
                    } else {
                        //Todo: Display error message
                    }
                }, 'json');
        });

        $('.timerow').each(function(k,v) {
            var companyId = $(v).find('.companyId').val();
            var companyDropDown = $(v).find('.companyDropDown');
            var projectDropDown = $(v).find('.projectDropDown');
            populateCustomerDropDown(companyDropDown,companyId);
            updateProject(companyDropDown);
            updateSubProject(projectDropDown);
        });

        /* Selections */
        function updateSelectionDropDowns() {
            var customerDropDown = $('#selectionCompanyDropDown');
            var customerId = $('#selectionCompany').val();
            var projectId = $('#selectionProject').val();
            var subProjectId = $('#selectionSubProject').val();

            console.log(customerId);
            console.log(projectId);
            console.log(subProjectId);

            customerDropDown.append('<option value="">All</option>');
            populateCustomerDropDown(customerDropDown, customerId);
            updateProjectDropDown($('#selectionProjectDropDown'), customerId, projectId, false);
            updateSubProjectDropDown($('#selectionSubProjectDropDown'), projectId, subProjectId, false);
        }

        //Init
        updateSelectionDropDowns();

        $('#selectionSubProjectDropDown').change(function() {
            $('#selectionSubProject').val($(this).val());
        });
        $('#selectionProjectDropDown').change(function() {
            $('#selectionProject').val($(this).val());
            updateSubProjectDropDown($('#selectionSubProjectDropDown'), $(this).val());
            $('#selectionSubProjectDropDown').prepend('<option value="" selected>All</option>');
        });
        $('#selectionCompanyDropDown').change(function() {
            $('#selectionCompany').val($(this).val());
            updateProjectDropDown($('#selectionProjectDropDown'), $(this).val());
            $('#selectionProjectDropDown').prepend('<option value="" selected>All</option>');
            updateSubProjectDropDown($('#selectionSubProjectDropDown'));
            $('#selectionSubProjectDropDown').prepend('<option value="" selected>All</option>');
        });
    });
</script>
