<!DOCTYPE html>
<html>
<head>
    @using System.Web.Optimization
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TimeLive 2.0</title>
    <link rel="shortcut icon" href="~/img/optivasys.png"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/start/jquery-ui.css">
    @Styles.Render("~/Content/Timecss")
    @Styles.Render("~/Content/fullcalendarcss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <div class="nav navbar-nav">
                <a class="navbar-left"><img src="~/img/logo.png"></a>
                <a href="@Url.Action("Index", "Time")" class="btn-logos navImg"><img class="" src="~/img/btn_Time.png" /></a>
                <a href="@Url.Action("Index", "Expenses")" class="btn-logos navImg"><img class="" src="~/img/btn_Expenses.png" /></a>
                <a href="@Url.Action("Index", "Distance")" class="btn-logos navImg"><img class="" src="~/img/btn_Distance.png" /></a>
                <button type="submit" id="toggleMenu" class="btn btn-block filterButton" title="Filter"><span class="glyphicon glyphicon-search"></span></button>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div id="filter" style="display: none;">
                    <form action="@Url.Action("Filter")" method="POST">
                        @Html.AntiForgeryToken()
                        <span class="filterTitle">Customer</span>
                        <select id="selectionCompanyDropDown" class="form-control filterDropDown"></select>
                        <input type="hidden" name="companyId" id="selectionCompany" value="@Model.Selections.CustomerId" />
                        <select id="selectionProjectDropDown" class="form-control filterDropDown"><option value="">All</option></select>
                        <input type="hidden" id="selectionProject" name="projectId" value="@Model.Selections.ProjectId" />
                        <select name="subProjectId" id="selectionSubProjectDropDown" class="form-control filterDropDown"><option value="">All</option></select>
                        <input type="hidden" id="selectionSubProject" name="subProjectId" value="@Model.Selections.SubProjectId" />
                        <span class="filterTitle">From</span>
                        <input type="text" id="selectionFrom" class="form-control date-picker filterDates" name="selectionFrom" value="@(Model.Selections.From?.ToString("yyyy-MM-dd") ?? "")" />
                        <span class="filterTitle"> To</span>
                        <input type="text" id="selectionTo" class="form-control date-picker filterDates" name="selectionTo" value="@(Model.Selections.To?.ToString("yyyy-MM-dd") ?? "")" />
                        <label class="checkboxes">
                            <span id="delayTitle">Delay</span>
                            <input type="checkbox" class="delayChk" name="chkDelay" @(Model.Selections.Delayed == 1 ? "checked" : "") value="@Model.Selections.Delayed" />
                            <input type="hidden" name="pDealyinvoice" class="pDealyinvoice" value="@Model.Selections.Delayed" />
                            <img src="~/img/delay_false.png" class="image" />
                        </label>
                        <button type="submit" id="selectionsApply" class="btn btn-block btn-success filterButton"><span class="glyphicon glyphicon-search"></span> Sort</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/fullcalendarjs")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>